
#location of various files
[file locations]
#location of the algorithm files
algosDir = ./algos/
#where stock histories should be stored
stockDataDir = ../stockStuff/stockData/
#where the API keys are stored
keyFile = ../stockStuff/apikeys.txt
#where the currently held stocks are stored and various info about them
posList = ../stockStuff/posList.json


#parameters related to the entire account/portfolio
[account params]

#determine whether paper trading or live trading should be used
isPaper = True

#stop trading/sell everything if the portfolio is
portStopLoss = 0.7

#minimum cash to hang on to and not trade (if total cash is ever > than this)
cash2hold = 1000

#extra cash to hold onto beyond the minimum. THIS MUST BE >=1
cashMargin = 1.1

#minimum cash to throw at a stock (eg. if a list has $25 available to it, and has 100 stocks to choose from, do not put only $0.25/stock, bottom out at this number)
minDolPerStock = 5

#parameters relating to when things should happen
[time params]

#start buying this many minutes before close
buyTime = 180

#update the stock lists this many minutes before market opens
updateLists = 180



#double jump parameters
[dj]
#
sellUp = 1.2
#
sellDn = 0.7
#
sellUpDn = 0.98

#number of weeks to wait until starting to squeeze (reducing sellUp and increasing sellDn)
startSqueeze = 5

#number of weeks after startSqueeze weeks to squeeze to a 0% P/L
squeezeTime = 4


#min price to look at (in USD)
simMinPrice = 0.8
#max price to look at (in USD)
simMaxPrice = 5
#min daily volume to look at
simMinVol = 300000

#days to look for the first jump
simDays2look = 25
#days to wait for the fall of that jump
simWait4fall = 3
#offset that next jump by this many days
simStartDateDiff = 1
#first jump must be at least this much
simFirstJumpAmt = 1.3
#sell if the historical value jumps by this amount in a day
simSellUp = 1.2
#sell if the historical value falls by this amount in a day
simSellDn = 0.5
#average the volume for this many days
simVolAvgDays = 60
#check if the price jumped substantially over the last __ trade days
simChkPriceDays = 30
#check if the price jumped by this much in that last <simChkPriceDays> days
simChkPriceAmt = 1.7
#check that the volume gained this many times over the average during the jump
simVolGain = 3
#check that the volume fell by this much after the jump
simVolLoss = 0.5
#check that the price dropped this much after the jump
simPriceDrop = 0.4



[fda]
#max share price to look at
maxPrice = 30
#min share price to look at
minPrice = 2

#trigger if it reaches this gain %
sellUp = 1.5
#after the trigger point, sell if it drops to this much
sellUpDn = 0.95
#sell the stock if it falls to this loss %
sellDn = 0.9

[ema]
#max share price to look at
maxPrice = 15
#min share price to look at
minPrice = 3
#min stock volume to look at
minVol = 250000
#trigger if it reaches this gain %
sellUp = 1.5
#after the trigger point, sell if it drops to this much
sellUpDn = 0.98
#sell the stock if it falls to this loss %
sellDn = 0.9

#number of weeks after the second test to start squeezing
startSqueeze = 6
#number of weeks to squeeze to 0% P/L
squeezeTime = 3


#short number of days to average over
emaSper = 8
#long number of days to average over
emaLper = 20
#how many periods to look back for an EMA crossover
timeLim = 20
#number of tests to limit at (usually 2. could potentially go up to 3?)
testNum = 2



[divs]
#max share price to look at
maxPrice = 30
#trigger if it reaches this gain %
sellUp = 1.5
#after the trigger point, sell if it drops to this much
sellUpDn = 0.95
#sell the stock if it falls to this loss %
sellDn = 0.9
