
#location of various files
[file locations]
#location of the algorithm files
algosDir = ./algos/
#where stock histories should be stored
stockDataDir = ./stockData/
#where the API keys are stored
keyFile = ../stockStuff/apikeys.txt
#where the currently held stocks are stored and various info about them
posList = ./testPosList.json


#parameters related to the entire account/portfolio
[account params]

#determine whether paper trading or live trading should be used
isPaper = True

#stop trading/sell everything if the portfolio is
portStopLoss = 0.7

#minimum cash to hang on to and not trade (if total cash is ever > than this)
cash2hold = 1000

#extra cash to hold onto beyond the minimum. THIS MUST BE >=1
cashMargin = 1.1

#minimum cash to throw at a stock (eg. if a list has $25 available to it, and has 100 stocks to choose from, do not put only $0.25/stock, bottom out at this number)
minDolPerStock = 5

#parameters relating to when things should happen
[time params]

#start buying this many minutes before close
buyTime = 180

#update the stock lists this many minutes before market opens
updateLists = 180


[ema]
#max share price to look at
maxPrice = 30
#min share price to look at
minPrice = 2

#trigger if it reaches this gain %
sellUp = 1.5
#after the trigger point, sell if it drops to this much
sellUpDn = 0.9
#sell the stock if it falls to this loss %
sellDn = 0.9

#short number of days to average over
emaDaysS = 8
#medium number of days to average over
emaDaysM = 25
#long number of days to average over (MUST be 50 or 200. This is used in the marketWatch screener)
emaDaysL = 50
#smoothing factor (the same across all ema's here)
smoothing = 1.5

#stdev below the ema to consider 'good'
stdBel = 1

#minimum volume to have
minVol = 250000


