#algo2 config file
#this file contains settings specifically for algo2

#files needed to run and record things
[File Locations]
#contains info about this algo's account. This gets updated often
info file = ./info.json
#contains trade histories. This gets updated every trade
history file = ./history.json
#contains configs shared across all algos
common config file = ../common/common.config

#settings related to the balance of the bot
[Account Params]
#determines whether the trading should be paper or live
isPaper = True
#The multiplier for how much extra cash to hold on to beyond the minimum cash
cashMargin = 1.1
#if the portfolio value is > than this amount, then we want to be able to hold this much and save it for an available withdrawal 
holdCash = 1000
#number of shares to hold per stock based on the stock's market cap
mktCapPerc = 0.05


#parameters for selling a stock
[Sell Params]
#sell if the stock price goes up by this amount (i.e. 1.25=25% increase from original purchase price)
sellUp = 1.3
#sell if the stock price goes down by this amount (i.e 0.75=25% decrease from original purchase price)
sellDn = 0.9


#parameters for buying a stock
[Buy Params]
#max $/share to look for
maxPrice = 30




#parameters for timing things
[Time Params]
#maximum time to hold the stock for (in days)
maxTime = 35
