#common config file
#for settings that will be shared across all algos

#Directories must end with a '/'
[File Locations]
stock data dir = ../../stockStuff/stockData/
apikeys = ../../stockStuff/apikeys.txt

#info about the master slave addresses to count on one another
[Master Slave]
masterAddress = localhost


#TODO: add api urls?

