
#location of various files
[file locations]

#location of the algorithm files for stocks
stockAlgosDir = ./algos/

#where the currently held stocks are stored and various info about them - this should just remain empty, but it is required for the algos
posList = ../stockStuff/dryRunLists/empty.json

#location of the "purchase" lists for each algo
purchLists = ../stockStuff/dryRunLists/


#######################
# Start algo settings #
#######################


[earn]
#max share price to look at
maxPrice = 15
#min share price to look at
minPrice = 3

#when checking to buy, we assign each stock a score. The score must be at least this % of wins out of the max score (1=100% wins, 0=0% wins)
minScorePct = 0.8
#tolerance for the 6 week to 2 week comparison
tol62 = 0.25
#tolerance for the 6 week to purchase price comparison
tol6p = 0.25
#tolerance for the 2 week to purchase price comparison
tol2p = 0.25
#cutoff tolerance for the rsi - TODO: is it supposed to be overbought or oversold?
rsiTol = 0.7

#trigger if it reaches this gain %
sellUp = 1.15
#after the trigger point, sell if it drops to this much
sellUpDn = 0.98
#sell the stock if it falls to this loss %
sellDn = 0.93



[movers]
sellUp = 1.3
#after the trigger point, sell if it drops to this much wrt the max price seen
sellUpDn = 0.97
#sell the stock if it falls to this loss % wrt the buyPrice or the open price
sellDn = 0.95

#max share price to look at
maxPrice = 30
#min share price to look at
minPrice = 3

#use these two params to set the change range (where 0 is no change, 20 is 20% gain, and -20 is 20% loss)
#max gain to consider a good buy
maxGain = 0
#max loss to consider a good buy
maxLoss = -20
