
#location of various files
[file locations]

#location of the algorithm files for stocks
stockAlgosDir = ./algos/

#where the currently held stocks are stored and various info about them - this should just remain empty, but it is required for the algos
posList = ../stockStuff/dryRunLists/empty.json

#location of the "purchase" lists for each algo
purchLists = ../stockStuff/dryRunLists/


#######################
# Start algo settings #
#######################


[earn]
#max share price to look at
maxPrice = 15
#min share price to look at
minPrice = 3

#weight to give to the history check (increasing over time) (1=equal footing as the others,0=do not consider)
histWeight = 0.75
#minimum confidence to have in the calculations to be considered a good buy (0=no confidence, 1=perfectly confident)
minConf = 0.4
#minimum expectations to be considered a good buy (-1=abysmal expecations, 1=insanely high expectations
minExpec = 0.3

#trigger if it reaches this gain %
sellUp = 1.21
#adjust the tgtPrice/BuyPrice ratio to give larger gains (eg if tgt/buy=1.1 and this is 1.5, then sellUp=1.15)
sellUpAdjustment = 1.2
#after the trigger point, sell if it drops to this much
sellUpDn = 0.98
#sell the stock if it falls to this loss %
sellDn = 0.8
#set the sellDn to be this % of sellUp (eg if sellUp is 1.2 and this is 0.25, then sellDn=0.95)
sellDnPerc = 0.5



[iped]
sellUp = 1.2
#after the trigger point, sell if it drops to this much wrt the max price seen
sellUpDn = 0.97
#sell the stock if it falls to this loss % wrt the buyPrice or the open price
sellDn = 0.85



[movers]
sellUp = 1.3
#after the trigger point, sell if it drops to this much wrt the max price seen
sellUpDn = 0.97
#sell the stock if it falls to this loss % wrt the buyPrice or the open price
sellDn = 0.95

#max share price to look at
maxPrice = 30
#min share price to look at
minPrice = 3

#use these two params to set the change range (where 0 is no change, 20 is 20% gain, and -20 is 20% loss)
#max gain to consider a good buy
maxGain = 0
#max loss to consider a good buy
maxLoss = -20
