#settings applicable solely to otherfxns and other settings not dependant on a trading api or algorithm file

#location of various files
[file locations]
#where stock histories should be stored
stockDataDir = ../stockStuff/stockData/


#network settings
[net cfg]
#headers to send on all requests
headers = {"user-agent":"-","contact":"github.com/steveman1123"}