
#location of various files
[file locations]

#location of the algorithm files for stocks
stockAlgosDir = ./algos/

#where the currently held stocks are stored and various info about them, as well as the cash returned by
posList = ../stockStuff/posListSingle.json

#file containing the stocks to buy for the day
buyList = ../stockStuff/buyListSingle.json

#where the API keys are stored
keyFile = ../stockStuff/apikeys/jakub.txt

#file containing the error tracebacks
errLog = ../stockStuff/msSingleTestErr.txt


#parameters related to the entire account/portfolio
[account params]

#determine whether paper trading or live trading should be used
isPaper = 1

#stop trading/sell everything if the portfolio is <= maxPortValue*this
portStopLoss = 0.7

#if the portfolio does drop below the stopLoss above, selling everything can be done manually or automatically. Setting this to 1 will automatically sell everything, setting this to 0 will require a user confirmation to sell everything
portAutoSellOff = 1

#minimum cash to hang on to and not trade (if total cash is ever > than this)
cash2hold = 1000

#extra cash to hold onto beyond the minimum. THIS MUST BE >=1
cashMargin = 1.1

#minimum cash to throw at a stock (eg. if a list has $25 available to it, and has 100 stocks to choose from, do not put only $0.25/stock, bottom out at this number)
minDolPerStock = 5

#max % of volume we should buy (0.01=1% = 0.01*volume)
maxVolPerc = 0.005



#parameters relating to when things should happen
[time params]

#start buying this many minutes before close
buyTime = 15

#update the stock lists this many minutes before market opens
updateLists = 180


#######################
# Start algo settings #
#######################

#settings that apply to all algos
[allAlgos]
#list of algos that the progam should use (should be identical to the file names as those in algosDir)
algoList = movers, earn, iped



[earn]
#max share price to look at
maxPrice = 15
#min share price to look at
minPrice = 3

#weight to give to the history check (increasing over time) (1=equal footing as the others,0=do not consider)
histWeight = 0.75
#minimum confidence to have in the calculations to be considered a good buy (0=no confidence, 1=perfectly confident)
minConf = 0.5
#minimum expectations to be considered a good buy (-1=abysmal expecations, 1=insanely high expectations
minExpec = 0.5

#trigger if it reaches this gain %
sellUp = 1.21
#adjust the tgtPrice/BuyPrice ratio to give larger gains (eg if tgt/buy=1.1 and this is 1.5, then sellUp=1.15)
sellUpAdjustment = 1.2
#after the trigger point, sell if it drops to this much
sellUpDn = 0.98
#sell the stock if it falls to this loss %
sellDn = 0.8
#set the sellDn to be this % of sellUp (eg if sellUp is 1.2 and this is 0.25, then sellDn=0.95)
sellDnPerc = 0.5



[ema]
#max share price to look at
maxPrice = 15
#min share price to look at
minPrice = 3
#min stock volume to look at
minVol = 250000
#trigger if it reaches this gain %
sellUp = 1.5
#after the trigger point, sell if it drops to this much
sellUpDn = 0.98
#sell the stock if it falls to this loss %
sellDn = 0.9

#number of weeks after the second test to start squeezing
startSqueeze = 6
#number of weeks to squeeze to 0% P/L
squeezeTime = 3

#short number of days to average over
emaSper = 8
#long number of days to average over
emaLper = 20
#how many periods to look back for an EMA crossover
timeLim = 20
#number of tests to limit at (usually 2. could potentially go up to 3?)
testNum = 2



[iped]
sellUp = 1.75
#after the trigger point, sell if it drops to this much wrt the max price seen
sellUpDn = 0.97
#sell the stock if it falls to this loss % wrt the buyPrice or the open price
sellDn = 0.85



[movers]
#max share price to look at
maxPrice = 15
#min share price to look at
minPrice = 3

sellUp = 1.1
#after the trigger point, sell if it drops to this much wrt the max price seen
sellUpDn = 0.98
#sell the stock if it falls to this loss % wrt the buyPrice or the open price
sellDn = 0.8

#use these two params to set the change range (where 0 is no change, 20 is 20% gain, and -20 is 20% loss)
#max gain to consider a good buy
maxGain = 0
#max loss to consider a good buy
maxLoss = -20




[splits]
#number of weeks to compare current price to to see if its gained enough
compWks = 3
#number of days before execution date to look
daysBeforeExec = 10
#max days before execution date that can be considered valid
maxDays = 14

